.storage
home-assistant.log*
home-assistant_v2.db*
__pycache__/
*.py[cod]
*$py.class
github_hosts.log*
*.swp
hass_nabucasa
.cloud
.HA_VERSION
node-red
zigbee2mqtt
add-ones/z2m/data
patch.log
http.yaml
mqtt.yaml
mqtt_dump.txt
image/
.vscode/


